<main class="main">
  <section class="banner-section">
    <div class="overlay-shape"></div>
    <div class=" banner-carousel pt-0">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-item">
          <div class="bg bg-image" style="background-image:url(<%= asset_path('resource/1.jpg')%>)"></div>
          <div class="auto-container">
            <div class="content-box"><h1 class="title">Easy &amp; Quick Cargo <br>Shipping Services</h1>
              <div class="text">Book low cost Sea Freight Shipping Services. Get <br>an instant quote. Start here...
              </div>
              <div class="btn-box">
                <a class="theme-btn btn-style-one wow fadeInUp" data-wow-delay="900ms" href="/page-about-us"><span class="btn-title">Explore More</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-section">
    <div class="auto-container">
      <div class="row align-items-xl-center">
        <div class="content-column col-xl-6 col-lg-12 order-xl-2 wow fadeInRight" data-wow-delay="600ms">
          <div class="inner-column pt-0">
            <div class="sec-title"><span class="sub-title">TRANSPORTATION COMPANY</span>
              <h2>We Provide Full Range Logistics Solution</h2></div>
            <div class="content-box">
              <div class="text">We collaborate with customers and partners to deliver port operations, container services, supply chain and advance the global logistics industry.
              </div>
              <div class="info-box-outer">
                <div class="about-block">
                  <div class="inner"><i class="icon flaticon-trolley"></i><h6 class="title">Reduced Transit Time </h6>
                  </div>
                </div>
                <div class="about-block">
                  <div class="inner"><i class="icon flaticon-logistics-6"></i>
                    <h6 class="title">Reduced Transit Time</h6></div>
                </div>
              </div>
              <div class="author-info">
<!--                <figure class="thumb"><img src="<%#= asset_path('resource/ceo-thumb.jpg') %>" alt=""></figure>-->
<!--                <h4 class="name">Mikalal Walker</h4>-->
<!--                <span class="designation">CEO, Transpress</span><img src="<%#= asset_path('resource/sign.jpg') %>" alt="" class="sign">-->
              </div>
            </div>
          </div>
        </div>
        <div class="image-column col-xl-6 col-lg-12">
          <div class="inner-column wow">
            <div class="image-box">
              <figure class="image-1 overlay-anim wow fadeInUp">
                <img src="<%= asset_path('resource/about-1-1.jpg') %>" alt="">
              </figure>
              <figure class="image-3 overlay-anim wow fadeInRight">
                <img src="<%= asset_path('resource/about-1-3.jpg') %>" alt="">
              </figure>
              <figure class="image-2 overlay-anim wow fadeInRight">
                <img src="<%= asset_path('resource/about-1-2.jpg') %>" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services-section pt-0">
    <div class="anim-icons"><span class="icon icon-plane-1 bounce-y"></span></div>
    <div class="auto-container">
      <div class="sec-title text-center"><span class="sub-title">Types Of Logistics</span>
        <h2>Covering All Logistics Fields</h2></div>
      <div class="swiper services-carousel owl-carousel owl-theme default-dots">
        <div class="swiper-wrapper">
          <div class="swiper-slide service-block">
            <div class="inner-box">
              <div class="content-box"><h4 class="title"><a href="#">Port Operation</a></h4>
                <div class="text">Efficient management of port activities, including cargo loading and unloading, customs clearance, and ensuring smooth and timely shipping processes.
                </div>
              </div>
              <div class="image-box">
                <a class="read-more" href="#"><i class="lnr-icon-arrow-up"></i></a>
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/service-1-2.jpg') %>" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-slide service-block">
            <div class="inner-box">
              <div class="content-box"><h4 class="title"><a href="#">Trucking</a></h4>
                <div class="text"> Reliable ground transportation services, providing secure and timely delivery of goods across various destinations.
                </div>
              </div>
              <div class="image-box">
                <a class="read-more" href="#"><i class="lnr-icon-arrow-up"></i></a>
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/service-1-3.jpg') %>" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-slide service-block">
            <div class="inner-box">
              <div class="content-box"><h4 class="title"><a href="#">Barging</a></h4>
                <div class="text"> RSpecialized barge services for transporting large volumes of cargo via waterways, ensuring cost-effective and environmentally friendly solutions.
                </div>
              </div>
              <div class="image-box">
                <a class="read-more" href="#"><i class="lnr-icon-arrow-up"></i></a>
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/service-1-1.jpg') %>" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-slide service-block">
            <div class="inner-box">
              <div class="content-box"><h4 class="title"><a href="#">Storing in Warehouse</a></h4>
                <div class="text"> Safe and organized storage solutions, offering secure warehouse facilities for short-term and long-term storage needs.
                </div>
              </div>
              <div class="image-box">
                <a class="read-more" href="#"><i class="lnr-icon-arrow-up"></i></a>
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/service-1-2.jpg') %>" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-slide service-block">
            <div class="inner-box">
              <div class="content-box"><h4 class="title"><a href="#">Customs Declaration</a></h4>
                <div class="text"> Expert handling of customs documentation and procedures, ensuring compliance with regulations and smooth cross-border operations.
                </div>
              </div>
              <div class="image-box">
                <a class="read-more" href="#"><i class="lnr-icon-arrow-up"></i></a>
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/service-1-3.jpg') %>" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="swiper-slide service-block">
            <div class="inner-box">
              <div class="content-box"><h4 class="title"><a href="#">Other Services</a></h4>
                <div class="text"> A range of additional logistics services tailored to meet specific needs, including supply chain consulting, packaging, and freight forwarding.
                </div>
              </div>
              <div class="image-box">
                <a class="read-more" href="#"><i class="lnr-icon-arrow-up"></i></a>
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/service-1-1.jpg') %>" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="service-section-two">
    <div class="anim-icons"><span class="icon icon-plane-1 bounce-y"></span></div>
    <div class="auto-container">
      <div class="sec-title text-center"><span class="sub-title">WHAT WE’RE OFFERING</span>
        <h2>Services We’re Providing <br>to Our Customers</h2></div>
      <div class="row">
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-production "></i>
            <h4 class="title"><a href="#">Optimized Cost</a></h4>
            <div class="text">Offering cost-effective logistics solutions that maximize efficiency while minimizing expenses, tailored to fit your budget.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-settings-1"></i>
            <h4 class="title"><a href="#">Reduced Transit Time</a></h4>
            <div class="text">Minimizing delivery times with efficient routing and transportation strategies, ensuring your goods arrive faster.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-delivery-box-3"></i>
            <h4 class="title"><a href="#">Delivery on Time</a></h4>
            <div class="text">Ensuring timely delivery of goods, adhering to strict schedules and deadlines to meet your business needs.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-logistics-1"></i>
            <h4 class="title"><a href="#">Safety &amp; reliability</a></h4>
            <div class="text"> Prioritizing the safety and security of your shipments, with dependable services you can trust.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-logistics-delivery-5"></i>
            <h4 class="title"><a href="#">Shipping Worldwide</a></h4>
            <div class="text">Providing global shipping solutions, connecting your business to international markets with seamless cross-border logistics.
            </div>
          </div>
        </div>
        <div class="service-info-block col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box">
            <div class="text">
            </div>
            <a class="theme-btn btn-style-one" href="/page-logistics-service"><span class="btn-title">View All Services</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="project-section pt-0">
    <div class="auto-container">
      <div class="sec-title"><span class="sub-title">Recent Projects</span>
        <h2>Explore Our Recent Work</h2></div>
      <div class="swiper projects-carousel owl-carousel owl-theme custom-navs pt-0">
        <div class="swiper-wrapper">
          <div class="swiper-slide project-block">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/project-1-1.jpg') %>" alt=""></a></figure>
              </div>
              <div class="content-box">
                <h4 class="title"><a href="#">Modern &amp; Airship Cargo</a></h4>
                <span class="cat">Transportation <span class="year">-2015</span></span></div>
            </div>
          </div>
          <div class="swiper-slide project-block">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/project-1-2.jpg') %>" alt=""></a></figure>
              </div>
              <div class="content-box">
                <h4 class="title"><a href="#">Modern &amp; Airship Cargo</a></h4>
                <span class="cat">Transportation <span class="year">-2015</span></span></div>
            </div>
          </div>
          <div class="swiper-slide project-block">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/project-1-3.jpg') %>" alt=""></a></figure>
              </div>
              <div class="content-box">
                <h4 class="title"><a href="#">Modern &amp; Airship Cargo</a></h4>
                <span class="cat">Transportation <span class="year">-2015</span></span></div>
            </div>
          </div>
          <div class="swiper-slide project-block">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <a href="#"><img src="<%= asset_path('resource/project-1-1.jpg') %>" alt=""></a></figure>
              </div>
              <div class="content-box">
                <h4 class="title"><a href="#">Modern &amp; Airship Cargo</a></h4>
                <span class="cat">Transportation <span class="year">-2015</span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news-section pt-0">
    <div class="auto-container">
      <div class="sec-title text-center"><span class="sub-title">Recent Articles</span>
        <h2>News &amp; Updates</h2></div>
      <div class="row">
        <div class="news-block col-lg-4 col-md-6 wow fadeInUp">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image overlay-anim-two">
                <a href="news-details.html"><img src="<%= asset_path('resource/news-1-1.jpg') %>" alt=""></a></figure>
              <span>12 December 2024</span></div>
            <div class="content-box">
              <h4 class="title"><a href="/news-details">Liberalization of Transport &amp; Logistics service</a></h4>
              <ul class="post-info">
                <li class="author">By <a href="/news-details"> <!-- -->Thomas Walkar</a></li>
                <li><i class="icon-comment"></i> <a href="news-details.html">04 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="news-block col-lg-4 col-md-6 wow fadeInUp">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image overlay-anim-two">
                <a href="news-details.html"><img src="<%= asset_path('resource/news-1-2.jpg') %>" alt=""></a></figure>
              <span>12 December 2024</span></div>
            <div class="content-box">
              <h4 class="title"><a href="/news-details">Logistics Announces Launch of Greenhouse Gas.</a></h4>
              <ul class="post-info">
                <li class="author">By <a href="/news-details"> <!-- -->Joseph</a></li>
                <li><i class="icon-comment"></i> <a href="news-details.html">04 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="news-block col-lg-4 col-md-6 wow fadeInUp">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image overlay-anim-two">
                <a href="news-details.html"><img src="<%= asset_path('resource/news-1-3.jpg') %>" alt=""></a></figure>
              <span>12 December 2024</span></div>
            <div class="content-box">
              <h4 class="title"><a href="/news-details">Logistics Announces Launch of Greenhouse Gas.</a></h4>
              <ul class="post-info">
                <li class="author">By <a href="/news-details"> <!-- -->Joseph</a></li>
                <li><i class="icon-comment"></i> <a href="news-details.html">04 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box text-center">
        <a class="theme-btn btn-style-one" href="/tvpl"><span class="btn-ttile">View All News</span></a></div>
    </div>
  </section>
</main>

<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

    const swiper = new Swiper('.swiper', {
        slidesPerView: 3, spaceBetween: 30, loop: true, autoplay: {
            delay: 2500,
            disableOnInteraction: !1,

        },
        breakpoints: {
            320: {
                slidesPerView: 1
            },
            575: {
                slidesPerView: 2
            },
            767: {
                slidesPerView: 3
            },
            991: {
                slidesPerView: 3
            },
            1199: {
                slidesPerView: 3
            },
            1350: {
                slidesPerView: 3
            }
        }
    })
</script>
