<main class="main">
  <section class="page-title" style="background-image: url(<%= asset_path('resource/page-title-bg.jpg')%>">
    <div class="auto-container">
      <div class="title-outer text-center">
        <ul class="page-breadcrumb">
          <li><a href="/">Home</a></li>
          <li>Pricing Table</li>
        </ul>
        <h1 class="title">Pricing Table</h1></div>
    </div>
  </section>
  <section class="pricing-section">
    <div class="auto-container">
      <div class="row">
        <div class="pricing-block col-lg-4 col-md-6 wow fadeInUp">
          <div class="inner-box" style="background-image: url(<%= asset_path('resource/bg-pricing.jpg')%>">
            <figure class="image"><a href="/page-pricing"><img src="<%= asset_path('resource/pricing1-1.png')%>" alt="Image"></a>
            </figure>
            <h3 class="title"><a href="/page-pricing">Sea Freight</a></h3>
            <div class="price">$1250 <small>/ 500KG</small></div>
            <ul class="list-style">
              <li><span class="icon icon-arrow"></span>Delivery in 2-3 Working Days</li>
              <li><span class="icon icon-arrow"></span>Customs brokerage</li>
              <li><span class="icon icon-arrow"></span>Pickup and delivery</li>
              <li><span class="icon icon-arrow"></span>Insurance</li>
              <li><span class="icon icon-arrow"></span>Customs security</li>
            </ul>
            <div class="btn-box">
              <a class="theme-btn btn-style-one" href="/page-pricing"><span class="btn-title">Purchase Now</span></a>
            </div>
          </div>
        </div>
        <div class="pricing-block col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="inner-box" style="background-image: url(<%= asset_path('resource/bg-pricing.jpg')%>);">
            <figure class="image"><a href="/page-pricing"><img src="<%= asset_path('resource/pricing1-2.png')%>" alt="Image"></a>
            </figure>
            <h3 class="title"><a href="/page-pricing">Road Cargo</a></h3>
            <div class="price">$150 <small>/ 30KG</small></div>
            <ul class="list-style">
              <li><span class="icon icon-arrow"></span>Delivery in 2-3 Working Days</li>
              <li><span class="icon icon-arrow"></span>Customs brokerage</li>
              <li><span class="icon icon-arrow"></span>Pickup and delivery</li>
              <li><span class="icon icon-arrow"></span>Insurance</li>
              <li><span class="icon icon-arrow"></span>Customs security</li>
            </ul>
            <div class="btn-box">
              <a class="theme-btn btn-style-one" href="/page-pricing"><span class="btn-title">Purchase Now</span></a>
            </div>
          </div>
        </div>
        <div class="pricing-block col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
          <div class="inner-box" style="background-image: url(<%= asset_path('resource/bg-pricing.jpg')%>);">
            <figure class="image"><a href="/page-pricing"><img src="<%= asset_path('resource/pricing1-3.png')%>" alt="Image"></a>
            </figure>
            <h3 class="title"><a href="/page-pricing">Ship Cargo</a></h3>
            <div class="price">$750 <small>/ 148KG</small></div>
            <ul class="list-style">
              <li><span class="icon icon-arrow"></span>Delivery in 2-3 Working Days</li>
              <li><span class="icon icon-arrow"></span>Customs brokerage</li>
              <li><span class="icon icon-arrow"></span>Pickup and delivery</li>
              <li><span class="icon icon-arrow"></span>Insurance</li>
              <li><span class="icon icon-arrow"></span>Customs security</li>
            </ul>
            <div class="btn-box">
              <a class="theme-btn btn-style-one" href="/page-pricing"><span class="btn-title">Purchase Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
